body
{
    background-color: #768DA6;
}
.main {
    color: #041C38;
    float: center;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
    background-color: #FCFCFD;
    border-radius: 20px;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 10;
}

.niceButton {
    
}